body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

canvas {
    border: 2px solid #ccc;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dark-mode{
    background-color: #2b2b2b;
    color: white;
}

.dark-mode canvas{
    border: 2px solid #fff;
}

.dark-mode .controls{
    background-color: rgba(50,50,50,0.9);
}
#myCanvas {
    border: 1px solid black; /* Borde para el canvas */
    cursor: crosshair;       /* Cambiar el cursor para indicar dibujo */
}

input, select{
    transition: background-color 0.2s ease, border-color 0.2s ease;
}
button, select, input[type="color"], input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

button:hover, select:hover, input[type="color"]:hover, input[type="number"]:hover {
    background-color: #ddd;
    cursor: pointer;
}

button {
    color: white;
    background-color: #5a9;
    border: none;
    font-size: 16px;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}